# IDEs and Editors
.idea/
.vscode/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Node / Frontend Dependencies
node_modules/
/dist
/build

# Backend / Java / Build Outputs
target/
bin/
*.class
*.jar
*.war

# Logs and OS files
*.log
.DS_Store
Thumbs.db